name: Ejecución Diaria de Reporte de Días Hábiles

on:
  schedule:
    # Se ejecuta todos los días a las 12:00 UTC (aprox. 09:00 AM en Chile)
    - cron: '01 09 * * *'
  workflow_dispatch: # Permite ejecutar el script manualmente desde la pestaña "Actions"

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Descargar código del repositorio
        uses: actions/checkout@v3

      - name: Configurar Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.10'

      - name: Ejecutar script
        env:
          # Aquí vinculamos el "Secret" de GitHub con una variable de entorno
          GMAIL_PASSWORD: ${{ secrets.GMAIL_PASSWORD }}
        run: python remaining-days.py
